$pl: 40px;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 80px;
  background-color: grey;
  &__menu {
    display: none;
  }
  &__menu--active {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    animation: swap-right 0.5s ease-in-out;
    -webkit-animation: swap-right 0.5s ease-in-out;
}
  &__menu-back {
    @extend .header;
    width: 100%;
  }
  &__menu-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-block: 20px;
    width: 100%;
    & ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      & li {
        padding-left: $pl + 20;
      }
    }
    & ul:nth-child(2) {
      border-top: 1px solid #ccc;
      padding-top: 20px;
    }
  }
  &__username {
    padding-left: $pl;
    font-size: 20px;
    font-weight: bold;
  }
}

@keyframes swap-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}