@mixin flex-col {
  display: flex;
  flex-direction: column;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  @include flex-col;
  gap: 2rem;
  &__form {
    @include flex-col;
    gap: 1rem;
    width: 100%;
  }
  &__photo {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__image {
    width: max-content;
    position: relative;
    border-radius: 50%;
    & img {
      border-radius: 50%;
      width: 17.5rem;
      height: 17.5rem;
    }
  }
  &__image-edit {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    padding: 2rem;
    background-color: var(--bg-chat-color);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    pointer-events: none;
    z-index: 1;
    display: grid;
    place-items: center;
  }
  & input[type="file"] {
    width: 6rem;
    height: 5.5rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    border: none;
    background: transparent;
  }
  &__info {
    @include flex-col;
    gap: 2rem;
    & input, textarea {
      width: 100%;
      max-width: 100%;
    }
  }
  &__names {
    display: flex;
    gap: 1rem;
  }
  &__location {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  &__preview-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  &__preview-container {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.325);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 4;
    place-items: center;
    padding: 2rem;
  }
  &__preview-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
  &__preview-content {
    @include flex-col;
    gap: 2rem;
    background-color: var(--bg-chat-color);
    padding: 2rem;
    border-radius: 1.4rem;
    max-width: 420px;
  }
  &__preview1 {
    display: flex;
    gap: 3rem;
    & img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  &__preview1-info {
    @include flex-col;
    justify-content: space-around
  }
  &__preview1-info-name {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 500
  }
  &__preview-info {
    @include flex-col;
    gap: 1rem;
  }
  &__preview2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__preview3 {
    @include flex-col;
    gap: 2rem;
  }
  &__pins {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__pin {
    width: 7rem;
    height: 7rem;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__interests {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__interests-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__interest {
    background-color: var(--icon-color-400);
    color: var(--title-color);
    padding: .5rem 1rem;
    border-radius: 0.8rem;
  }
}

@media (width >= 1000px) {
  .aboutme {
    gap: 5rem;
    justify-content: space-between;
    flex-direction: row;
    padding: 3rem 10rem;
    height: calc(100% - 223px);
    &__save {
      display: none;
    }
    &__form {
      width: 50%;
    }
    &__preview {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%
    }
    &__preview-container {
      position: relative;
      padding: 0;
      justify-items: flex-end;
      background: transparent;
    }
    &__preview-content {
      width: 100%;
      padding: 3rem;
    }
    &__preview-close {
      display: none;
    }
    &__preview-title {
      width: 100%;
    }
  }
}