.mails {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100vh;
  animation: swap-right 1s ease-in-out;
  overflow-y: scroll;
  position: relative;
  &__match, &__message-avatar {
    cursor: pointer;
  }
  &__matches {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
  }
  &__matches-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
      text-decoration: underline;
      color: var(--icon-color-400);
    }
    & a:hover {
      color: var(--icon-color-500);
    }
  }
  &__matches-list {
    display: flex;
    gap: 2rem;
    z-index: -1;
  }
  &__message-avatar {
    width: 7rem;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__messages {
    @extend .mails__matches;
  }
  &__messages-list {
    display: flex;
    flex-direction: column;
  }
  &__message {
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  &__message-photo {
    position: relative;
    width: max-content;
  }
  &__message-status {
    position: absolute;
    top: 0px;
    right: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: green;
    border: 2px solid var(--text-color);
  }
  &__message-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__message-user {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 800;
  }
  &__message-text {
    width: 100%;
    font-size: 1.2rem;
  }
  &__message-info:nth-child(1) {
    cursor: pointer;
  }
  &__message-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__message-notifications {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--icon-color-500);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
}

@media (width >= 1000px) {
  .mails {
    max-width: 320px;
    border-right: 1px solid rgb(157, 157, 157);
    animation: swap-top 1s ease-in-out;
  }
}

@keyframes swap-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes swap-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}