.messages {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  width: 100%;
  &__pins {
    display: none;
  }
}


@media (width >= 1000px) {
  .messages {
    z-index: 1;
    padding-left: 78px;
    display: flex;
    gap: 3rem;
    padding-right: 2rem;
  }
}

@media (width >= 1300px) {
  .messages {
    &__pins {
      width: max-content;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding-top: 10rem;
      padding-inline: 2rem;
      border-left: 1px solid rgb(157, 157, 157);
    }
    &__pins-container {
      width: 100%;
    }
  }
}
