.message {
  &__A {
    display: flex;
    width: 100%;
    padding: 3rem;
    justify-content: flex-end;
    & .message__content {
      background-color: var(--icon-color-500);
      color: white;
    }
  }
  &__B {
    display: flex;
    width: 100%;
    padding: 3rem;
    justify-content: flex-start;
    & .message__content {
      background-color: var(--icon-color-400);
      color: var(--title-color);
    }
  }
  &__content {
    width: max-content;
    max-width: 279px;
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
  }
  &__container {
    display: flex;
    gap: 3rem;
  }
  &__figure {
    width: max-content;
  }
  &__time, &__status {
    font-size: 0.8rem;
    color: white;
  }
  &__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}

@media (width >= 1000px) {
  .message {
    &__content {
      max-width: 336px;
    }
  }
}