.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  &__menu {
    display: none;
  }
  &__menu--active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 2rem;
  }
  &__menu-header {
    display: flex;
    justify-content: space-between;
  }
  &__menu-summary {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  &__menu-burger {
    cursor: pointer;
  }
  &__menu-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5rem;
  }
  &__menu-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  &__menu-authG {
    text-align: center;
  }
}

@media (width >= 1000px) {
  .header {
    width: 100%;
    gap: 2rem;
    &__menu {
      display: flex;
      gap: 2rem;
      width: 100%;
    }
    &__menu-header, 
    &__menu-burger, 
    &__menu-authG, 
    &__menu-summary svg {
      display: none;
    }
    &__menu-main {
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
    }
    &__menu-list {
      position: absolute;
      left: 0;
      padding: 0px 20px 20px 20px;
      bottom: -120px;
      background-color: var(--bg-chat-color);
      z-index: 1;
    }
    &__menu-authB {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}