@import 'styles/variables.scss';

.home {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  padding: 20px;
  &__matches {
    display: flex;
    width: calc(100vw - 40px);
    gap: 4rem;
    overflow-x: hidden;
    max-width: 630px;
  }
  &__match {
    width: 100%;
  }
}

.error {
  color: #f00;
  font-size: $m_subtitle;
  text-align: center;
  font-weight: 600;
}


@media (width >= 1000px) {
  .home {
    padding-left: 310px;
    height: 100vh;
  }
}
