@import 'styles/variables.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0001;
  backdrop-filter: blur(2px); 
  display: grid;
  place-content: center;
  overflow: hidden;
  z-index: 20;
}
