.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  &__title {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__options {
    width: 100%;
  }
  &__options-list {
    display: flex;
  }
  &__option {
    padding: 0.5rem 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  &__option--selected {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
  &__save {
    display: none;
  }
}

@media (width >= 1000px) {
  .header {
    padding-top: 5rem;
    padding-inline: 10rem;
    &__control {
      display: flex;
      justify-content: space-between;
    }
    &__option {
      padding: 1rem 1.5rem;
    }
    &__save {
      display: block;
    }
  }
}