@import '../../styles/variables';

@mixin section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile {
  width: 100%;
  position: relative;
  padding: 2rem;
  &__edit {
    position: absolute;
    top: 6rem;
    right: 1rem;
    z-index: 2;
  }
}

.user {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow-y: scroll;
    position: relative;
  }
  &__info {
    display: flex;
    gap: 4rem;
  }
  &__photo {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
  }
  &__interests {
    @include section;
  }
  &__interests-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  &__interest {
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  &__pins {
    @include section;
    position: relative;
  }
  &__pins-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    overflow-x: scroll;
  }
  &__pin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__pin-photo {
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
  &__about {
    @include section;
  }
  &__pins-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: painted;
    & button:nth-child(1) {
      transform: rotate(180deg);
    }
    & button {
      width: 30px;
      height: calc(100% - 4rem);
      display: grid;
      place-items: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.56) 0%, var(--bg-color) 100%);
      cursor: pointer;
      font-size: 3rem;
      & svg path {
        fill: var(--text-color);
      };
    }
  }
}

@media (width >= 400px) {
  .profile {
    &__edit {
      top: 3rem;
      right: 3rem;
    }
  }
}

@media (width >= 1000px) {
  .profile {
    margin-left: 310px;
    &__container {
      height: 100%;      
      padding: 3rem;
      display: grid;
      place-items: center;
    }
  }

  .user {
    max-width: 630px;
    padding: 4rem 3rem;
    background-color: #908e8e;
    max-height: 90dvh;
    &__content {
      gap: 5rem;
      height: 100%;
      overflow-y: hidden;
    }
    &__info {
      gap: 5rem;
    }
    &__interests-content {
      gap: 3rem;
    }
    &__pins-content {
      grid-template-rows: repeat(2, 1fr);
    }
    &__pins-content::-webkit-scrollbar {
      display: none;
    }
    &__about {
      padding-top: 0;
    }
    &__buttons {
      padding-block: 50px;
    }
  }
}