.chat {
  display: none;
  width: 100%;
  height: calc(100dvh - 80px);
  background-color: white;
  position: absolute;
  flex-direction: column;
  top: 0;
  &__back {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    cursor: pointer;
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__header {
    padding: 1rem;
    height: 100px;
    display: flex;
    gap: 2rem;
    border-bottom: 1px solid gray;
  }
  &__avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__messages {
    overflow-y: scroll;
    height: 100%;
  }
  &__input {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 1rem;
    margin-block: 1rem;
  }
  &__send {
    width: 50px;
    height: 48px;
    border-radius: 0.5rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__input-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    height: 100%;
    font-size: x-large;
    border-radius: 0.5rem;
    width: 100%;
  }
  &__input-text {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 1rem;
    font-size: 2rem;
  }
  &__emoticons {
    cursor: pointer;
  }
  &__emoticons-picker {
    position: absolute;
    bottom: 70px;
    right: 10px;
  }
}


@media (width >= 1000px) {
  .chat {
    display: flex;
    position: relative;
    height: 100%;
    max-width: 712px;
    max-height: 712px;
    background-color: whitesmoke;
    border-radius: 2rem;
    margin: 3rem;
    border: 1px solid gray;
    &__back {
      display: none;
    }
    &__header {
      height: 130px;
      padding-block: 3rem;
    }
    &__input {
      margin-block: 2rem;
      padding-inline: 2rem;
    }
    &__emoticons {
      position: relative;
    }
    &__emoticons-picker {
      bottom: 50px;
      right: 0px;
    }
  }
}