@import 'styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.form .field {
  width: 98%;
  max-width: 300px;
  height: fit-content;
  position: relative;
}

.field label {
  color: '#616161';
  font-size: $text;
}

.field small {
  font-size: 10px;
  color: '#BEBEBE';
}

.error {
  outline: 1px dashed red !important;
}

.icon {
  position: absolute;
  right: 15px;
  top: 35%;
  z-index: 20;
  cursor: pointer;
  fill: $purple-principal;
  width: 20px;
  height: 20px;
  text-align: center;
}

.form input {
  background-color: $light-quaternary;
  border-radius: 8px;
  width: 95vw;
  max-width: 300px;
  height: 40px;
  padding: 10px;
  font-size: $ih-text;
}

.form input::placeholder {
  color: $grey-dark;
}

.form p {
  font-size: $ih-text;
  text-decoration: underline;
}

.form .submit {
  font-size: $m_subtitle;
  color: $white;
  background-color: $light-primary;
  border-radius: 8px;
  height: 48px;
  max-width: 300px;
  width: 100%;
  cursor: pointer;
}

.submit[disabled] {
  background-color: $light-quaternary;
  cursor: not-allowed;
}