$XS: 14px;
$SM: 16px;
$M: 20px;
$L: 32px;
$XL: 40px;

$text-dark: #252525;
$text-black: #000;
$grey-dark: #616161;

$white: #fff;
$purple-principal: #962ADB;
$purple-seconadary-lila: #DBCDF3;
$purple-dark: #3E2666;