@import './variables';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.icon path {
  fill: var(--icon-color-500);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  padding: 1rem;
  padding-right: 2rem;
}

.btn {
  background-color: var(--icon-color-500);
  color: var(--bg-color);
  border-radius: 20px;
  padding: 12px 16px;
}

.btn:disabled {
  background-color: rgb(157, 156, 156);
  color: var(--text-color);
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: rgb(157, 156, 156);
  color: var(--text-color);
}

.btn-send {
  @extend .btn;
  border-radius: 8px;
  color: var(--title-color);
}

.btn:hover, .btn-send:hover {
  background-color: var(--title-color);
  color: white;
}

.btn-second {
  background-color: var(--icon-color-400);
    color: var(--title-color);
  border-radius: 20px;
  padding: 8px 12px;
}

.btn-second:hover {
  background-color: var(--bg-chat-color);
}

input[text] {
  font-size: $ih-text;
  height: 4rem;
}

h1 {
  font-size: $m_title;
  color: var(--title-color);
}

h2, h3 {
  color: var(--title-color);
  font-size: $m_subtitle;
  font-weight: 600;
}

button, p, li {
  font-size: $text;
}

button {
  cursor: pointer;
}

label {
  font-weight: 700;
  color: var(--icon-color-500);
}

input, textarea {
  background-color: var(--bg-chat-color);
  color: var(--text-color);
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px 12px;
}

input:focus, textarea:focus {
  border: 2px solid var(--icon-color-500);
}

span {
  font-size: $m_r-text;
}

.opt--theme {
  cursor: pointer;
  & svg {
    margin: 1rem;
  }
}

@media (width >= 1000px) {
  span {
    font-size: $d_r-text-sm;
  }

  h1 {
    font-size: $d_second-title;
  }
  
  h2, h3 {
    font-size: $d_third-title;
  }
}
input[type="checkbox"]{
    -webkit-appearance: radio;
}